/* ------------------ DESKTOP ------------------ */
#desktop-section-1 {
  --div-height: 500px;
  --div-width-right: 65%;
  --div-width-left: 45%;
  --right-div-top-offset: 100px;
  --parent-height-offset: 150px;
  --parent-height: calc(var(--div-height) + var(--right-div-top-offset) + var(--parent-height-offset));
}

#desktop-section-1 .index-parent {
  position: relative;
  height: var(--parent-height);
}

#desktop-section-1 .index-child-1 {
  position: absolute;
  top: calc(var(--parent-height-offset) / 2);
  left: 0;
  height: var(--div-height);
  width: var(--div-width-left);
  background-image: url(../images/geology/3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#desktop-section-1 .index-child-2 {
  position: absolute;
  top: calc(var(--parent-height-offset) / 2 + var(--right-div-top-offset));
  left: calc(100% - var(--div-width-right));
  height: var(--div-height);
  width: var(--div-width-right);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/geology/78.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto;
}

#desktop-section-1 {
  background-color: #232341;
}


.index-parent {
  overflow: hidden;
}

#desktop-section-2 {
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.6), rgba(240, 240, 240, 0.6)), url(../images/index-services-background.png);

  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

#desktop-section-3-divs,
#desktop-section-5-divs {
  --div-height: 500px;
  --div-width-right: 60%;
  --div-width-left: 45%;
}

#desktop-section-3-divs .index-parent,
#desktop-section-5-divs .index-parent {
  display: flex;
  height: var(--div-height);
  position: relative;
}

#desktop-section-3-divs .index-child-1,
#desktop-section-5-divs .index-child-1 {
  position: absolute;
  height: var(--div-height);
  width: var(--div-width-left);
  background-image: url(../images/geochemistry/23.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#desktop-section-3-divs .index-child-2,
#desktop-section-5-divs .index-child-2 {
  position: absolute;
  left: calc(100% - var(--div-width-right));
  width: var(--div-width-right);
  background: #232341;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  align-self: center;
  overflow-y: auto;
}






#desktop-section-5-divs .index-child-1 {
    background-image: url(../images/trenching/20.jpeg);
}

#desktop-section-4-divs {
  --div-height: 500px;
  --div-width-right: 55%;
  --div-width-left: 52.5%;
}

#desktop-section-4-divs .index-parent {
  position: relative;
  height: var(--div-height);
  display: flex;
  justify-content: left;
  align-items: center;
}

#desktop-section-4-divs .index-child-1 {
  width: var(--div-width-left);
  background: #232341;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  align-self: center;
  overflow-y: auto;
}

#desktop-section-4-divs .index-child-2 {
  position: absolute;
  top: 0;
  left: calc(100% - var(--div-width-left));
  height: var(--div-height);
  width: var(--div-width-right);
  background-image: url(../images/tenure_acquisition/4.jpeg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-child-1,
.index-child-2 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}



/* ------------------ MOBILE ------------------ */

#mobile-section-1 {
  background-color: #232341;

  --top-div-height: 300px;
  --bot-div-height: 600px;
  --bot-width: 100%;
  --top-div-offset: 25px;
  --top-width: calc(100% - (var(--top-div-offset) * 2));

  --parent-bot-offset: 0px;
  --parent-height: calc(var(--top-div-height) + var(--bot-div-height) + var(--parent-bot-offset));

}

#mobile-section-1 .index-parent{
  position: relative;
  height: var(--parent-height);
}

#mobile-section-1 .index-child-1 {
  position: absolute;
  top: var(--top-div-offset);
  left: var(--top-div-offset);
  height: var(--top-div-height);
  width: var(--top-width);
  
  z-index: 1; /* Position the left div above the right div */

  

  background-image: url(../images/geology/3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#mobile-section-1 .index-child-2 {
  position: absolute;
  top: var(--top-div-height);
  left: 0;
  height: var(--bot-div-height);
  width: var(--bot-width);

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/geology/78.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* ---- Section 2 ---- */
#mobile-section-background {
  background: linear-gradient(0deg, rgba(240, 240, 240, 0.6), rgba(240, 240, 240, 0.6)), url(../images/unsorted/P2120014.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mobile-section-3 {
  --top-div-height: 300px;
  --bot-div-height: 375px;
  --bot-width: 100%;
  --top-div-offset: 25px;
  --top-width: calc(100% - (var(--top-div-offset) * 2));

  --parent-bot-offset: 0px;
  --parent-height: calc(var(--top-div-height) + var(--bot-div-height) + var(--parent-bot-offset));
}


#mobile-section-3 .index-parent {
  position: relative;
  height: var(--parent-height);

}

#mobile-section-3 .index-child-1 {
  position: absolute;
  top: var(--top-div-offset);
  left: var(--top-div-offset);
  height: var(--top-div-height);
  width: var(--top-width);
  
  z-index: 1; /* Position the left div above the right div */

  

  background-image: url(../images/geochemistry/23.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#mobile-section-3 .index-child-2 {
  position: absolute;
  top: var(--top-div-height);
  left: 0;
  height: var(--bot-div-height);
  width: var(--bot-width);

  background: #232341;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


/* this is using new positioning method
   but the header line is disappearing */
#mobile-section-4 {
  --top-div-height: 300px;
  --bot-div-height: 450px;
  --bot-width: 100%;
  --top-div-offset: 25px;
  --top-width: calc(100% - (var(--top-div-offset) * 2));

  --parent-bot-offset: 0px;
  --parent-height: calc(var(--top-div-height) + var(--bot-div-height) + var(--parent-bot-offset));
}


#mobile-section-4 .index-parent {
  position: relative;
  height: var(--parent-height);

}

#mobile-section-4 .index-child-1 {
  position: absolute;
  top: var(--top-div-offset);
  left: var(--top-div-offset);
  height: var(--top-div-height);
  width: var(--top-width);
  
  z-index: 1; /* Position the left div above the right div */

  

  background-image: url(../images/tenure_acquisition/4.jpeg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#mobile-section-4 .index-child-2 {
  position: absolute;
  top: var(--top-div-height);
  left: 0;
  height: var(--bot-div-height);
  width: var(--bot-width);

  background: #232341;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}




#mobile-section-5 {
  --top-div-height: 300px;
  --bot-div-height: 260px;
  --bot-width: 100%;
  --top-div-offset: 25px;
  --top-width: calc(100% - (var(--top-div-offset) * 2));

  --parent-bot-offset: 50px;
  --parent-height: calc(var(--top-div-height) + var(--bot-div-height) + var(--parent-bot-offset));
}


#mobile-section-5 .index-parent {
  position: relative;
  height: var(--parent-height);

}

#mobile-section-5 .index-child-1 {
  position: absolute;
  top: var(--top-div-offset);
  left: var(--top-div-offset);
  height: var(--top-div-height);
  width: var(--top-width);
  
  z-index: 1; /* Position the left div above the right div */

  

  background-image: url(../images/trenching/20.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#mobile-section-5 .index-child-2 {
  position: absolute;
  top: var(--top-div-height);
  left: 0;
  height: var(--bot-div-height);
  width: var(--bot-width);

  background: #232341;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


/* ------------------ UTILITY ------------------ */

.header-line {
    height: 1px;
    border-width: 1px;
    background: #FFFFFF;
    width: 20%;
    z-index: 2;
  }
