/* body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;
}

html {
    scrollbar-width: none;
}
*/

/* width and height of scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* color of scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* color and style of scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #ABABAB;
  border-radius: 5px;
  border: none;
}

/* on hover, color of scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #232341;
}

/* @media (max-width: 640px){
    body::-webkit-scrollbar{
        display: none;
        -ms-overflow-style: none;
    }
    
    html {
        scrollbar-width: none;
    }
} */



/* --- navbar --- */
#navbar-min {
  align-items: center;
  justify-content: center;
  background-color: #F6F5F5;
  transition: height 0.3s ease-in-out;
  position: absolute; /* add this line */
  top: 100%; /* add this line */
  width: 100%; /* add this line */
}
#navbar-max {
  transition: height 0.3s ease-in-out;
  width: 100%; /* add this line */
}

#navbar-min img {
  filter: grayscale(100%) /* convert to grayscale */
          contrast(200%) /* increase contrast to enhance the effect */
          sepia(100%) /* apply sepia to simulate a color filter */
          hue-rotate(calc((35, 35, 65) - (44, 43, 44))) /* calculate the difference between start and end colors */
          brightness(1000%) /* increase brightness to lighten the final result */
          saturate(10000%); /* increase saturation to restore color richness */
}


#navbar-full {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: auto;
  transition: height 0.3s ease-in-out;
  display: flex; /* add this line */
  flex-direction: column; /* add this line */
  align-items: center; /* add this line */
}

#navbar-full.scrolled #navbar-min .navbar-min-icon {
  transform: rotate(0deg);
}

#navbar-full .navbar-min-expanded .navbar-min-icon {
  transform: rotate(180deg);
}

#navbar-full.scrolled #navbar-max {
  display: none;
}

#navbar-full.scrolled #navbar-min {
  display: flex;
}

#navbar-full.scrolled::after {
  display: block;
  width: 100%;
  height: auto;
  background-color:#F6F5F5;
}

/* .index-navbar {
  background-color: #232341;
} */


/* -------------- */

#article-1-image {
    background-image: url('../images/index-h1-text.png')
}

#divider-line {
  height: 1px;
  background: #ADADAD;
  width: 100%;
}

#email, #first_name, #last_name, #message {
    border: 1px solid #232341;
}



.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

#hamburger-button {
  transform: scale(1.75);
}


#services-description-background {
    background-image: url('../images/services-background-2.png');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#services-dropdown-background {
    background-color: #F6F5F5;
}

#back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  //filter: invert(66%) sepia(0%) saturate(6%) hue-rotate(153deg) brightness(97%) contrast(84%);
}

#back-to-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  background-color: transparent;
}
/* 
#back-to-top-button:hover {
    filter: invert(0%) sepia(0%) saturate(1243%) hue-rotate(47deg) brightness(114%) contrast(78%);
} */

/* --- World Map --- */

#world-map {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-image: url('../images/map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .map-point {
    position: absolute;
    border-radius: 50%;
    //background-color: #f44336;
    background-color: transparent; /* Use a transparent background */
    cursor: pointer;
  }
  
  .pop-up {
    position: absolute;
    top: 0;
    left: 130%;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    pointer-events: none;
    z-index: 1;
    display: inline-block;
    width: auto;
  }
  
  
  .map-point:hover .pop-up {
    opacity: 1;
    transform: translateX(0);
  }

  .map-point:hover {
    background-color: #FCB029;
  }
  
  
  @media (max-width: 640px) {
    /* Adjust the size and position of the map-points and pop-ups for smaller screens */
    .map-point {
      width: 12px;
      height: 12px;
      transform: translateX(-15%) translateY(-25%);
    }
    
    .pop-up {
      padding: 10px;
    }
        
    #map-point-mongolia .pop-up,
    #map-point-australia .pop-up{
        transform: translateX(-130%);
    }
  }
  
  @media (min-width: 641px) and (max-width: 1024px) {
    /* Adjust the size and position of the map-points and pop-ups for medium-sized screens */
    .map-point {
      width: 16px;
      height: 16px;
    }
    
    .pop-up {
      padding: 12px;
    }
        
    #map-point-mongolia .pop-up,
    #map-point-australia .pop-up{
        transform: translateX(-130%);
    }
  }
  
  @media (min-width: 1025px) {
    /* Adjust the size and position of the map-points and pop-ups for large screens */
    .map-point {
      width: 20px;
      height: 20px;
    }
    
    .pop-up {
      padding: 15px;
    }

        
    #map-point-mongolia .pop-up,
    #map-point-australia .pop-up{
        transform: translateX(-130%);
    }

  }

  @media (min-width: 1600px){
    
    /* Adjust the size and position of the map-points and pop-ups for larger screens */
    .map-point {
        width: 30px;
        height: 30px;
      }
      
      .pop-up {
        padding: 15px;
      }
        
      #map-point-mongolia .pop-up,
      #map-point-australia .pop-up{
          transform: translateX(0);
      }
  }

  @media (min-width: 2000px){
    
    /* Adjust the size and position of the map-points and pop-ups for much larger screens */
    .map-point {
        width: 40px;
        height: 40px;
      }
      
      .pop-up {
        padding: 15px;
      }
  }

  