@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-white: #FFFFFF;
    --clr-white-off: #F6F5F5;
    --clr-black: #1C1C1C;
    --clr-blue-dark: #232341;
    --clr-red-dark: #44140C;
    --clr-gray-dark: #ABABAB;

    --ff-primary: 'Inter', sans-serif;
    --ff-header: var(--ff-primary);
    --ff-body: var(--ff-primary);

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-20: 1.25rem;
    --fs-25: 1.5625rem;
    --fs-35: 2.1875rem;
    --fs-45: 2.8125rem;
    --fs-80: 5rem;

    --fs-body: var(--fs-18);
    --fs-nav: var(--fs-20);
    --fs-button: var(--fs-20);
    --fs-heading-1: var(--fs-80);
    --fs-heading-2: var(--fs-45);
    --fs-heading-3: var(--fs-35);
    --fs-heading-4: var(--fs-25);
    --fs-heading-5: var(--fs-25);
    --fs-checkmark-text: var(--fs-18);
    --fs-copywrite-text: var(--fs-16);
}

/* font-sizes for mobile */
@media (max-width: 640px){
    :root {
        --fs-14: 0.875rem;
        --fs-16: 1rem;
        --fs-18: 1.125rem;
        --fs-20: 1.25rem;
        --fs-22: 1.375rem;
        --fs-24: 1.5rem;
        --fs-35: 2.1875rem;

        --fs-body: var(--fs-18);
        --fs-nav: var(--fs-18);
        --fs-button: var(--fs-14);
        --fs-heading-1: var(--fs-35);
        --fs-heading-2: var(--fs-25);
        --fs-heading-3: var(--fs-25);
        --fs-heading-4: var(--fs-20);
        --fs-heading-5: var(--fs-18);
        --fs-checkmark-text: var(--fs-16);
        --fs-copywrite-text: var(--fs-14);

    }
}

@layer utilities {
    .text-white {
        color: var(--clr-white);
    }
    
    .text-black-accent {
        color: var(--clr-black)
    }
    
    .text-blue-dark {
        color: var(--clr-blue-dark)
    }
    
    .text-gray-dark {
        color: var(--clr-gray-dark);
    }
    
    .bg-white-off {
        background-color: var(--clr-white-off);
    }
    
    .bg-blue-dark {
        background-color: var(--clr-blue-dark);
    }
    
    .fs-heading-1 {
        font-size: var(--fs-heading-1);
        font-style: var(--ff-header);
        line-height: 1.2;
    }
    
    .fs-heading-2 {
        font-size: var(--fs-heading-2);
        font-style: var(--ff-header);
        line-height: 1.2
    }
    
    .fs-heading-3 {
        font-size: var(--fs-heading-3);
        font-style: var(--ff-header);
        line-height: 1.2;
    }
    
    .fs-heading-4 {
        font-size: var(--fs-heading-4);
        font-style: var(--ff-header);
        line-height: 1.2;
    }
    
    .fs-heading-5 {
        font-size: var(--fs-heading-5);
        font-style: var(--ff-header);
        line-height: 1.2;
    }
    
    .fs-checkmark-text {
        font-size: var(--fs-checkmark-text);
        font-style: var(--ff-body);
        line-height: 1.5;
    }
    
    .fs-body {
        font-size: var(--fs-body);
        font-style: var(--ff-body);
        line-height: 1.5;
    }

   
    .fs-nav {
        font-size: var(--fs-nav);
        font-style: var(--ff-body);
        line-height: 1.2;
    }
    
    .fs-button {    
        font-size: var(--fs-button);
        font-style: var(--ff-body);
    }
    
    .fs-copywrite-text {
        font-size: var(--fs-copywrite-text);
        font-style: var(--ff-body);
        line-height: 1.5;
    }
    
    .fw-400 { 
        font-weight: var(--fw-400);
    }
    
    .fw-500 { 
        font-weight: var(--fw-500);
    }
    
    .fw-600 {
        font-weight: var(--fw-600);
    }
    
    .fw-700 {
        font-weight: var(--fw-700);
    }
    
    .ff-header {
        font-style: var(--ff-header);
    }
    
    .ff-body {
        font-style: var(--ff-body);
    }

    .word-spacing{
        word-spacing: 0.1rem;
    }
    
    .button-primary {
        font-weight: var(--fw-400);
        font-size: var(--fs-button);
        font-style: var(--ff-body);
        color: var(--clr-white);
        background-color: var(--clr-blue-dark);
        border: 1px solid var(--clr-blue-dark);
        font: var(--ff-body);
        height: 50px;
        width: 160px;
    }
    
    .button-accent {
        font-weight: var(--fw-400);
        font-size: var(--fs-button);
        font-style: var(--ff-body);
        color: var(--clr-white);
        border: 1px solid var(--clr-white);
        background-color: transparent;
        font: var(--ff-body);
        height: 50px;
        width: 160px;
    }
    
    .button-secondary {
        font-weight: var(--fw-400);
        font-size: var(--fs-button);
        font-style: var(--ff-body);
        color: var(--clr-white);
        background-color: var(--clr-red-dark);
        border: 1px solid var(--clr-red-dark);
        font: var(--ff-body);
        height: 50px;
        width:160px;
    }
    
    .button-primary:hover, .button-accent:hover {
        background-color: var(--clr-red-dark);
        border: 1px solid var(--clr-red-dark);
        box-shadow: 3px 3px 0px 0px black;
    }
    
    .button-secondary:hover {
        background-color: var(--clr-blue-dark);
        border: 1px solid var(--clr-blue-dark);
        box-shadow: 3px 3px 0px 0px black;
    }
    
    @media (max-width: 640px){
        .button-primary,
        .button-secondary,
        .button-accent{
                height: 44px;
                width: 135px;
    
        }
    }
    
    
    .divider-line {
      height: 1px;
      background: #ADADAD;
      width: 100%;
    }
    
    .border {
        border: 2px;
        border-style: solid;
        border-color: var(--clr-black-accent);
    }

    .checkmark {
        background-image: url(../images/checkmark-disabled.svg);
    }
    
    .checkmark-text{
        color: #9C9C9C;
    }

    .checkmark-enabled div {
        background-image: url(../images/checkmark.svg)
    }

    .checkmark-enabled p{
        color: var(--clr-black-accent);
    }
}